:root {
    --accent-color: red;
    --terciary-color: #212529;
    --bs-link-color: #e883b5;
}

body {
    background-color: black;
    margin: 0px;
    box-sizing: border-box;
    min-width: 100%;
}

.bg-terciary {
    background-color: var(--terciary-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

.text-accent {
    color: var(--accent-color);
}

td {
    vertical-align: middle;
}

.library .img-fluid {
    aspect-ratio: 83 / 146;
}

.card-detail div:has(>.img-fluid) {
    justify-self: flex-end;

    & img {
        max-height: 70vh;
    }
}

/* a {
    color: inherit;
}

h1 {
    text-align: center;
}

form div {
    display: flex;
    justify-content: center;
    gap: 30px;
} */

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* a.card {
    text-align: center;
}

a.card p {
    max-width: 100px;
    margin: 0 auto;
}

a.card img {
    max-width: 100px;
    margin: 0 auto;
}

.card-detail img,  .cardResult img {
    width: 100%;
    max-width: 500px;
}

.cards-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
} */